/*barra de navegação*/
header a{
	font-size: 15px;
}
nav{
	width: 100%;
	position: fixed;
}
.navbar{
	background-color: rgb(255,255,255,0.75);
}
.logo{
	margin-left: -50px;
}
.logo2{
	margin-left: 10px;
	margin-bottom: 10px;
}
.slogan{
	margin-top: 50px;
	margin-left: -100px;
}
#nav-principal{
	margin-top: 23px;
	margin-right: -70px;
}
#nav-principal button{
	margin-right: 10px;	
}
/*para todos*/
.nav-item{
	margin-right: 17px;
}
.nav-item a:hover{
	color: white;
}
.link1.sticky, .link2.sticky, .link3.sticky, .link4.sticky{
	color: white;
}
.stylebutton{
	border-radius: 5px;
}
.veraobutton, .primaverabutton, .outonobutton, .invernobutton{
	padding: 5px 7px;

}
/*botão verão*/
.verao_a a{
	color: #CF7119;
	text-align: center;
}
.veraobutton:hover{
	background-color: #CF7119;
}
.veraobutton.sticky{
	background-color: #CF7119;
}
/*botão primavera*/
.primavera_a a{
	color: #A60023;
	text-align: center;
}
.primaverabutton:hover{
	background-color: #A60023;
}
.primaverabutton.sticky{
	background-color: #A60023;
}
/*botão outono*/
.outono_a a{
	color: #6B316F;
	text-align: center;
}
.outonobutton:hover{
	background-color: #6B316F;
}
.outonobutton.sticky{
	background-color: #6B316F;
}
/*botão inverno*/
.inverno_a a{
	color: #0B688F;
	text-align: center;
}
.invernobutton:hover{
	background-color: #0B688F;
}
.invernobutton.sticky{
	background-color: #0B688F;
}
.
/*outros*/
.divisoria{
	margin-left: 12px;
	margin-right: 23px;
}
.btn-outline-dark:hover{
	background-color: black;
}

/*primeira seção*/
#home{
	background-image: url(../imagens/capainverno.png);
	background-attachment: fixed;
}
.capa{
	text-align: center;
	margin-top: 70px;
}

.carousel-control-next, .carousel-control-prev {
	width: 5%;
}
.itemnovidade{
	width: 160px;
	height: 160px;
	margin: 30px;
	padding-right: 10px;
	border: none;
	border-radius: 5px;
	background-color: rgb(11, 104, 143,0.5);
}
.itemnovidade:hover{
	background-color: rgb(255,255,255,0.5);
}

/*segunda seção*/
#section2{
	background-image: url(../imagens/capaverao.png);
	background-attachment: fixed;
}
.section2, .section3{
	padding-top: 50px;
}
.buttoncategoria{
	width: 350px;
	height: 120px;
	background-color: rgb(207,113,25,0.5) ;
	border: none;
	font-size: 1.3em;
}
.buttoncategoria:hover{
	background-color: rgb(255,255,255,0.5);
	color: #CF7119;
}

/*terceira seção*/
#section3{
	background-image: url(../imagens/capaoutono.png);
	background-position: center bottom;
	background-attachment: fixed;
}
.filters{
	width: 400px;
	height: 450px;
	background-color: rgb(107, 49, 111, 0.5);
	border-radius: 5px;
	margin-top: 50px;
}
.form-group{
	padding-top: 30px;
	padding-left: 65px;
}
#inputseason{
	width: 150px;
	margin-left: 20px;
	background-color: rgb(107, 49, 111);
	color: white;
}
.optionssize{
	margin-left: 30px;
	padding-top: 10px;
}
option, label{
	color: white;
}
.buttonsearch{
	margin-left: 140px;
	margin-top: 30px;
}
.buttonsearch:hover{
	background-color: rgb(107, 49, 111);
	color: white;
}

/*Quarta seção*/
#section4{
	background-image: url(../imagens/capaprimavera.png);
	background-attachment: fixed;
}
.section4{
	margin-top: 80px;
}
.campoaboutus{
	width: 300px;
	height: 450px;
	background-color: rgb(166,0,35, 0.5);
	border-radius: 5px;
}
/*paralax*/
.caixa1, .caixa2, .caixa3, .caixa4{
	height: 100%;
}

/*geral*/
html{
	scroll-behavior: smooth;
}
html, body, #home{
	height: 100%;
	font-family: "Geral", Helvetica, Arial, sans-serif;
}
h1{
	text-align: center;
	margin-top: 95px;
	margin-bottom: -45px;
	color: white;
}
h5{
	color: white;
	padding-top: 10px;
}
p{
	text-align: center;
	color: white;
	font-size: 1.2em;
}
@font-face{
	font-family: "Geral";
	src: url(../fontes/Lusitana-Regular.ttf);
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	.logo2, .slogan{
		display: none;
	}
	.itemnovidade{
		width: 130px;
		height: 130px;
		margin: 15px;
		padding-right:;
	}
	.carousel-item{
		margin-left: 30px;
	}
	.buttoncategoria{
		width: 135px;
		height: 100px;
		font-size: 1.1em;
	}
	h1{
		text-align: center;
		margin-top: 100px;
	}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	.logo{
		margin-left: -90px;
	}
	#nav-principal{
		margin-right: -100px;
	}
	.veraobutton, .primaverabutton, .outonobutton, .invernobutton{
		padding: 3px 5px;

	}
	#nav-principal button{
		margin-right: 5px;	
	}
	.buttoncategoria{
		width: 220px;
	}
	.campoaboutus{
		width: 250px;
		height: 400px;
	}
	.filters{
		width: 500px;
		height: 450px;
	}
	.form-group{
		padding-top: 10px;
		padding-left: 40px;
	}
	.buttonsearch{
		margin-left: 75px;
		margin-top: 30px;
	}
	p{
		font-size: 1.1em;
	}

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	.buttoncategoria{
		width: 300px;
	}
	.logo{
		margin-left: -30px;
	}
	#nav-principal{
		margin-right: -30px;
	}
	.campoaboutus{
		width: 250px;
		height: 400px;
	}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	#nav-principal{
		margin-right: -55px;
	}
}


