/*barra de navegação*/
header nav{
	background-color: white;
}
header a{
	font-size: 15px;
}
.logo{
	margin-left: -50px;
}
.logo2{
	margin-left: 10px;
	margin-bottom: 10px;
}
.slogan{
	margin-top: 50px;
	margin-left: -100px;
}
#nav-principal{
	margin-top: 23px;
	margin-right: -70px;
}
#nav-principal button{
	margin-right: 10px;	
}
/*botão verão*/
.verao_a a{
	color: #CF7119;
}
.veraobutton a:hover{
	color: white;
}
.veraobutton:hover{
	background-color: #CF7119;
}
/*botão primavera*/
.primavera_a a{
	color: #A60023;
}
.primavera_a a:hover{
	color: white;
}
.primaverabutton:hover{
	background-color: #A60023;
}
/*botão outono*/
.outono_a a{
	color: #6B316F;
}
.outono_a a:hover{
	color: white;
}
.outonobutton:hover{
	background-color: #6B316F;
}
/*botão inverno*/
.inverno_a a{
	color: #0B688F;
}
.inverno_a a:hover{
	color: white;
}
.invernobutton:hover{
	background-color: #0B688F;
}
.invernobutton{
	margin-right: 10px;
}
.divisoria{
	margin-left: 12px;
	margin-right: 23px;
}
.carrinhobutton:hover{
	background-color: #c8c8c8;
}
.userbutton:hover{
	background-color: #c8c8c8;
}
/*primeira seção*/
#home{
	background-image: url(../imagens/capainverno.png);
	background-attachment: fixed;
}
.capa{
	text-align: center;
	margin-top: 70px;
}
.carousel-item h1{
	margin-bottom: 30px;
	color: white;
}
.carousel-control-next, .carousel-control-prev {
	width: 5%;
}
.itemnovidade{
	width: 160px;
	height: 160px;
	margin: 30px;
	padding-right: 10px;
	background-color: #0B688F;
}

html, body, #home{
	height: 100%;
	overflow-x: hidden;
	font-family: "Geral", Helvetica, Arial, sans-serif;
}

@font-face{
	font-family: "Geral";
	src: url(../fontes/Lusitana-Regular.ttf);
}
#section2{
	background-image: url(../imagens/capaverao.png);
	background-attachment: fixed;
}
/*paralax*/
.caixa1, .caixa2{
	height: 100%;
}