/*barra de navegação*/
header a{
	font-size: 15px;
}
nav{
	width: 100%;
	position: fixed;
}
.navbar{
	background-color: rgb(255,255,255, 0.75);
}
.logo{
	margin-left: -50px;
}
.logo2{
	margin-left: 10px;
	margin-bottom: 10px;
}
.slogan{
	margin-top: 50px;
	margin-left: -100px;
}
#nav-principal{
	margin-top: 23px;
	margin-right: -70px;
}
#nav-principal button{
	margin-right: 10px;	
}
/*para todos*/
.nav-item{
	margin-right: 17px;
}
.nav-item a:hover{
	color: white;
}
/*botão verão*/
.verao_a a{
	color: #CF7119;
	text-align: center;
}
.veraobutton{
	padding: 5px 7px;
	border-radius: 5px;
}
.veraobutton:hover{
	background-color: #CF7119;
}
/*botão primavera*/
.primavera_a a{
	color: #A60023;
	text-align: center;
}
.primaverabutton{
	padding: 5px 7px;
	border-radius: 5px;
}
.primaverabutton:hover{
	background-color: #A60023;
}
/*botão outono*/
.outono_a a{
	color: #6B316F;
	text-align: center;
}
.outonobutton{
	padding: 5px 7px;
	border-radius: 5px;
}
.outonobutton:hover{
	background-color: #6B316F;
}
/*botão inverno*/
.inverno_a a{
	color: #0B688F;
	text-align: center;
}
.invernobutton{
	padding: 5px 7px;
	border-radius: 5px;

}
.invernobutton:hover{
	background-color: #0B688F;
}
/*outros*/
.divisoria{
	margin-left: 12px;
	margin-right: 23px;
}
.btn-outline-dark:hover{
	background-color: black;
}

/*primeira seção*/
#home{
	background-image: url(../imagens/capainverno.png);
	background-attachment: fixed;
}
.capa{
	text-align: center;
	margin-top: 70px;
}

.carousel-control-next, .carousel-control-prev {
	width: 5%;
}
.itemnovidade{
	width: 160px;
	height: 160px;
	margin: 30px;
	padding-right: 10px;
	background-color: rgb(11, 104, 143, 0.75);
}
.itemnovidade:hover{
	background-color: rgb(255,255,255, 0.6);
}

/*segunda seção*/
#section2{
	background-image: url(../imagens/capaverao.png);
	background-attachment: fixed;
}

/*paralax*/
.caixa1, .caixa2{
	height: 100%;
}

/*geral*/
html, body, #home{
	height: 100%;
	font-family: "Geral", Helvetica, Arial, sans-serif;
}
h1{
	text-align: center;
	margin-top: 95px;
	margin-bottom: -45px;
	color: white;
}

@font-face{
	font-family: "Geral";
	src: url(../fontes/Lusitana-Regular.ttf);
}